	body { background-image:url("test backgrounds/water.jpg");
	}

	#header {
    background-color:#2EB8E6;
    color:#660066 ;
    text-align:center;
    padding:2px;
	}

	#nav {
    line-height:10px;
    background-color:#5C8533;
    color:#F0F09D;
    height:0px;
    width:1000px;
    float: center;
    padding:5px; 
}

	#section {
    width:350px;
    float:left;
    padding:15px; 
}

	#footer {
    background-color:#5C8533;
    color:#660066;
    font-family:'Raleway',sans-serif, 50px;
    clear:both;
    text-align:center;
    padding:5px; 
}
